// primary
$black: #2e2e2e;
$white: #ffffff;
$grey: #9b9b9b;
$greyBlue: #f5f6fc;

$grassGreen: #bbf3c7;
// happy lighthouse
// $green: #1d8457;
// // former green
$green: #25a66e;
$orange: #ff892e;
$red: #f25050;
$rose: #f1a2a5;

// ligth
$lightGreen: rgba(37, 166, 110, 0.7);
$lightOrange: rgba(225, 137, 46, 0.7);
$lightRed: rgba(242, 80, 80, 0.7);

$lightGrey: rgba(155, 155, 155, 0.2);

// with opacity
$greenTransparent: rgba(37, 166, 110, 0.25);
$orangeTransparent: rgba(225, 137, 46, 0.25);
$redTransparent: rgba(242, 80, 80, 0.25);
$whiteTransparent: rgba(225, 225, 225, 0.35);

//shadow
$primaryShadow: 0px 0px 10px rgba(223, 223, 223, 0.25);

// other
$govBlue: #0069cc;

// special
$backgroundPopUp: #9b9b9b52;
