// primary
$green: #54e173;
$black: #2e2e2e;
$white: #ffffff;

// secondary
$orange: #ffa45e;
$red: #ed4e4e;
$rose: #f1a2a5;
$blueGrey: #f5f6fc;
$grey: #9b9b9b;

// other
$govBlue: #0069cc;

// special
$whiteTransparent: #ffffff3d;
$backgroundPopUp: #9b9b9b52;
