body,
input,
span,
p {
  color: $black;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 130.5%;
  font-weight: 300;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

.heading {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: $black;
  line-height: 130.5%;

  &.biggest {
    font-size: 93px;
  }

  &.bigger {
    font-size: 58px;
  }

  &.big {
    font-size: 46px;
  }

  &.medium {
    font-size: 33px;
  }

  &.small {
    font-size: 23px;
  }

  &.smallest {
    font-size: 19px;
  }
}

button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
}

a {
  text-decoration: none;
}

// to remove later
.headline {
  color: $black;
  font-size: size(20);
  font-weight: bold;
  line-height: 130%;
}
