html {
  font-size: 16px;
}

body,
input,
span,
p,
li,
label {
  color: $black;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: toRem(14);
  line-height: 130.5%;

  @include desktop {
    font-size: toRem(15);
  }

  @include large {
    font-size: toRem(16);
  }
}

button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: toRem(14);

  @include tablet {
    font-size: toRem(15);
  }

  @include large {
    font-size: toRem(16);
  }

  p {
    font-weight: bold;
    font-size: toRem(14);

    @include tablet {
      font-size: toRem(15);
    }

    @include large {
      font-size: toRem(16);
    }
  }
}

a {
  text-decoration: none;
}

/* ---------------------------------------- headings ---------------------------------------- */

.heading,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: $black;
  line-height: 130.5%;
  color: $black;

  &.biggest {
    font-size: toRem(22);
    font-weight: 500;

    @include tablet {
      font-size: toRem(25);
    }

    @include desktop {
      font-size: toRem(28);
    }

    @include large {
      font-size: toRem(33);
    }
  }
}
