.App {
  color: $black;
  height: auto;
  min-height: 100vh;
  font-weight: normal;
}

.pageWrapper {
  min-height: calc(100vh - 24px - 22px - 6px - 10px);
  margin-bottom: calc(24px + 22px + 6px + 10px);
  overflow-y: scroll;
  background: $greyBlue;
  padding: 24px 16px;

  @include desktop {
    height: 100vh;
    margin-bottom: 0;
    margin-left: 15%;
    padding: 32px;
  }
}
